@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    color: var(--primary-color);
}
/* Default control */
:root{
    --primary-width: 1200px;
    --primary-color: #181818;
    --dark-background: #181818;
    --dark-color: #e4e4e4;
}

a{
    text-decoration: none;
}

/* Common Styles here */
#navigation nav{
    width: 100%;
    margin: 0 auto;
    width: var(--primary-width);
}

/* Navigation Styles here */
#navigation{
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
#navigation nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navigation nav #brand-logo a{
    display: flex;
    align-items: center;
    gap: 5px;
}
#navigation nav #brand-logo img{
    width: 23px;
}
#navigation nav #brand-logo p{
    font-size: 17px;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 6px;
}

#navigation nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
#navigation nav ul li{
    font-size: 16px;
    font-weight: 500;

}

/* Main Styles */
#hero{
    background: linear-gradient(100deg, #e4e4e4, #c0bebec4);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero #iphone15{
    position: absolute;
    width: 40%;
    z-index: 2;
}
#hero #wire{
    position: absolute;
    width: 15%;
    left: 27%;
    top: 5%;
    transform: rotateY(180deg);
}
#hero #apple-logo{
    position: absolute;
    width: 15%;
    right: 32%;
    top: 65%;
    z-index: 1;
}
#hero #apple-name{
    font-size: 15vw;
    font-weight: bold;
    letter-spacing: 3vw;
}

#about{
    width: 100%;
    height: 100vh;
    
}